/* Universal*/
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common */
section {
    margin-top: 120px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 18px 22px;
    margin-top: 20px;
}

.title {
    font-weight: 700;
    font-size: 35px;
}
.description {
    font-weight: 400;
    font-size: 16px;
}

/* Header Section */
.header-section{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 170px 110px 715px;
    text-align: right;
}

.header-section .title {
    color: #FFFFFF;
    font-size: 60px;
}

.header-section .description {
    color: #FFFFFF;
    margin-top: 20px;
}

/* Main Section */
.failure-section {
    display: flex;
    gap: 70px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.my-failure{
    padding-top: 120px;
    padding-right: 90px;
}

.failure-section .title {
    margin-bottom: 24px;
    color: #151414;
}

.failure-section .description {
    margin-bottom: 16px;
    color: #444343;
}

.failure-list .description {
    margin-bottom: 8px;
}

.failure-list i {
    color: #16D887;
    margin-right: 15px;
}

/* Footer Section */