/* Universal*/
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common in elements*/
main{
    margin-left: 150px;
    margin-right: 150px;
}

section, footer {
    margin-top: 120px;
}

/* Common class*/
.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 14px 22px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 35px;
}

.description {
    font-weight: 400;
    font-size: 16px;
}

/* Header Section */
.header-section {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 170px 120px 700px;
    text-align: right;
}

.header-section .title {
    color: #FFFFFF;
    font-size: 60px;
}

.header-section .description {
    color: #FFFFFF;
    margin-top: 20px;
}

/* Failure Section */
.failure-section {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.my-failure {
    padding-top: 120px;
    padding-right: 90px;
}

.failure-section .title {
    margin-bottom: 24px;
    color: #151414;
}

.failure-section .description {
    margin-bottom: 16px;
    color: #444343;
}

.failure-list .description {
    margin-bottom: 8px;
}

.failure-list i {
    color: #16D887;
    margin-right: 15px;
}

/* Plan Section */
.plan-section {
    text-align: center;
}

.plan-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.sub-title {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin-top: 18px;
}

.sub-title-description {
    font-weight: 500;
    font-size: 20px;
    color: #737272;
    margin-top: 14px;
}

/* Success Ways Section */
.success-ways-section {
    padding: 0px 70px;
}

.success-ways-section .title{
    text-align: center;
    margin-bottom: 50px;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotes .sub-title-description {
    font-family: 'Raleway', sans-serif;
}


.quote-1 {
    padding: 0 30px;
}

.quote-2 {
    padding: 0 30px;
    text-align: right;
}

/* Down Banner Section */
.down-banner-section {
    background: url('../images/watch.png'), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 60px 65px;
    border-radius: 8px;
    background-blend-mode: soft-light;
}

.down-banner .title {
    border-bottom: 24px;
}

/* Footer Section */
.footer-section {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    background: #151414;
    padding: 130px 150px;
    color: #FFFFFF;
}

.author-info {
    max-width: 500px;
    padding-left: 20px;
}

#email {
    margin-top: 26px;
}

.footer-section .description {
    margin-top: 16px;
}

.icon {
    padding-top: 32px;
}

.icon img {
    padding-right: 18px;
}

.subscribe-info {
    max-width: 350px;
}

.label {
    font-weight: 600;
    font-size: 20px;
    margin-top: 14px;
}

.subscribe-info input[type=email] {
    border-radius: 5px;
    padding: 14px 22px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 220px;
    color: #FFFFFF;
    font-size: 18px;
}

.subscribe-info input[type=email]::placeholder {
    color: #FFFFFF;
    font-weight: 400;
}

.subscribe-info input[type=submit] {
    color: #FFFFFF;
    background: #005FAC;
}
.subscribe-info input[type=submit]:hover {
    background: #016cc4;
}





